* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

body {
  font-size: 1.8rem;
}

.container {
  position: relative;
  max-width: 1600px;
  margin: auto;
  height: 100%;
}

.page-wrapper {
  padding: 0 80px;
  height: 100%;
}

.background-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

/*--- Hero Section ---*/

.hero-section {
  position: relative;
}

.hero-section:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-section-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-text h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.hero-section-text text {
  font-size: 2rem;
  line-height: 1.3;
}

.hero-section-link {
  color: white;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  background-color: green;
  text-transform: capitalize;
  font-size: 2rem;
  border: 1px solid green;
}

.hero-section-link:hover {
  background-color: transparent;
  color: green;
}
