* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

body {
  font-size: 1.8rem;
}

.container {
  position: relative;
  max-width: 1600px;
  margin: auto;
  height: 100%;
}

.page-wrapper {
  padding: 0 80px;
  height: 100%;
}

.background-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  color: white;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  background-color: green;
  text-transform: capitalize;
  font-size: 2rem;
  border: 1px solid green;
}

.btn:hover {
  background-color: transparent;
  color: green;
}

/*--- Hero Section ---*/

.hero-section {
  position: relative;
}

.hero-section:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-section-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-text h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.hero-section-text text {
  font-size: 2rem;
  line-height: 1.3;
}



/*--- Latest Blog Post Section ---*/

.latest-blog-post-section {
  padding: 100px 0;
}

.latest-blog-post-section .d-flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-blog-post-section .card {
  flex-shrink: 1;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  width: 32%;
  display: flex;
 
}

.direction-column{
    flex-direction: column;
}

.latest-blog-post-section .card .img-wrapper {
  height: 300px;
  width: 100%;
}
.latest-blog-post-section .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-blog-post-section .card h3 {
  margin-bottom: 20px;
  }

  .latest-blog-post-section .card .btn {
    margin-top: 40px;
    align-self: self-start;
    }

.latest-blog-post-section .card-text,
.latest-blog-post-section .card-text p {
    flex-grow: 1;
  }

  .latest-blog-post-section .card-text{
  padding: 20px;
  }

